@{
    Layout = null;
}

<!Doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Party!</title>
    </head>

    <body>
        <div>
            <div>
                We're going to have a exciting party! <br/>
                (To do: sell it better. Add pictures or something.)
            </div>
            <a asp-action="RsvpForm">RSVP Now</a> <!-- This is the link to the RsvpForm.cshtml view 
                Asp-action is a tag helper that generates the URL for the RsvpForm action method in the Home controller.
            -->
        </div>
    </body>


 </html>

